header {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    width: 720px;
    background-color: gainsboro;
    text-align: center;
    margin: auto;
  }
  
  .logo {
    background-color: rgb(189, 81, 81);
    width: 60px;
    text-align: center;
  }
  
  .navigation {
    background-color: gray;
    width: 80px;
    text-align: center;
  }
  